<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">    <title>Live weather</title>
</head>
<body>
    <divc class="header">
        <a href="#default" class="logo">Live Weather App</a>
        <div class="header-right">
            <a href="#home" class="active">Home</a>
            <a href="#about us">About Us</a>
            <a href="#contactus">Contact Us</a>
        </div>
    </div>
</body>
</html>








